<!DOCTYPE html>
<html>
<head>
    <title>User and Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>User Login</h2>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required ><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Login">
        </form>
    </div>
    <div class="container">
        <h2>Admin Login</h2>
        <form action="/login" method="post">
            <label for="admin_username">Username:</label>
            <input type="text" id="admin_username" name="username" required><br>

            <label for="admin_password">Password:</label>
            <input type="password" id="admin_password" name="password" required><br>

            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
